# 00_SOLUCIONES — 01_basics

Contiene soluciones completas (código) para cada ejercicio y reto.

In [ ]:
from __future__ import annotations
import math
import random

## Variables y tipos
Archivo: `01_basics/00_variables_tipos.ipynb`

### Ejercicio 1
Crea `curso` (str) y `año` (int) e imprímelos juntos.

In [ ]:
curso = '4ESO'
año = 2026
print(curso, año)

### Ejercicio 2
Crea `pi_aprox` (float) = 3.14 e imprime type().

In [ ]:
pi_aprox = 3.14
print(type(pi_aprox))

### Ejercicio 3
Convierte '100' a int y súmale 23.

In [ ]:
n = int('100')
print(n + 23)

### Ejercicio 4
Convierte '2.5' a float y multiplícalo por 4.

In [ ]:
x = float('2.5')
print(x * 4)

### Ejercicio 5
Crea booleanos `llueve` y `llevo_paraguas` (llevo_paraguas True solo si llueve).

In [ ]:
llueve = True
llevo_paraguas = llueve
print(llevo_paraguas)

### Ejercicio 6
Pide un número por input y guárdalo en `n` (int). Imprime n y type(n).

In [ ]:
n = int(input('n: '))
print(n, type(n))

### Ejercicio 7
Crea `a=5`, `b=9` e intercambia a↔b.

In [ ]:
a = 5
b = 9
a, b = b, a
print(a, b)

### Ejercicio 8
Crea `mensaje` con f-string que incluya nombre y edad.

In [ ]:
nombre='Ana'
edad=15
mensaje = f'{nombre} tiene {edad} años'
print(mensaje)

### Ejercicio 9
Crea `precio=19.99` y muestra redondeado a 1 decimal con round().

In [ ]:
precio = 19.99
print(round(precio, 1))

### Ejercicio 10
Pide edad y crea `es_mayor_edad` (>=18). Imprime el booleano.

In [ ]:
edad = int(input('Edad: '))
es_mayor_edad = edad >= 18
print(es_mayor_edad)

### Reto
Reto: pide nombre, número favorito (int) y ciudad; muestra 4 líneas y una operación con el número.

In [ ]:
nombre = input('Nombre: ')
fav = int(input('Número favorito: '))
ciudad = input('Ciudad: ')
print(f'Hola {nombre}')
print(f'Vives en {ciudad}')
print(f'Tu número favorito es {fav}')
print(f'El doble de tu número es {fav*2}')

## Operadores y expresiones
Archivo: `01_basics/01_operadores.ipynb`

### Ejercicio 1
Calcula 25 + 17 y guarda el resultado.

In [ ]:
res = 25 + 17
print(res)

### Ejercicio 2
Calcula 100 - 37 y guarda el resultado.

In [ ]:
res = 100 - 37
print(res)

### Ejercicio 3
Calcula 12 * 8 y guarda el resultado.

In [ ]:
res = 12 * 8
print(res)

### Ejercicio 4
Calcula 144 / 12 y muestra el resultado.

In [ ]:
print(144 / 12)

### Ejercicio 5
Calcula 144 // 12 y comenta diferencia con /.

In [ ]:
print(144 // 12)  # // da entero; / puede dar float

### Ejercicio 6
Calcula 17 % 3 y comenta qué significa.

In [ ]:
print(17 % 3)  # resto de dividir 17 entre 3

### Ejercicio 7
Pide n y muestra si es múltiplo de 5.

In [ ]:
n = int(input('n: '))
print(n % 5 == 0)

### Ejercicio 8
Convierte 367 segundos a minutos y segundos.

In [ ]:
seg = 367
minutos = seg // 60
resto = seg % 60
print(minutos, resto)

### Ejercicio 9
Pide base y altura y calcula área triángulo (b*h/2).

In [ ]:
b = float(input('Base: '))
h = float(input('Altura: '))
print(b*h/2)

### Ejercicio 10
Calcula 3**4 y 4**3 y muestra ambos.

In [ ]:
print(3**4)
print(4**3)

### Reto
Reto: pide días y conviértelo a semanas + días restantes (// y %).

In [ ]:
dias = int(input('Días: '))
semanas = dias // 7
resto = dias % 7
print(f'{dias} días = {semanas} semanas y {resto} días')

## Booleanos y comparaciones
Archivo: `01_basics/02_booleanos_y_comparaciones.ipynb`

### Ejercicio 1
Compara 10 y 20 con <.

In [ ]:
print(10 < 20)

### Ejercicio 2
Compara 15 y 15 con ==.

In [ ]:
print(15 == 15)

### Ejercicio 3
Pide dos números y muestra si son iguales.

In [ ]:
a = float(input('a: '))
b = float(input('b: '))
print(a == b)

### Ejercicio 4
Pide un número y muestra si está entre 1 y 100 (incluidos).

In [ ]:
n = int(input('n: '))
print(1 <= n <= 100)

### Ejercicio 5
Pide una contraseña y muestra si len>=8.

In [ ]:
pwd = input('Contraseña: ')
print(len(pwd) >= 8)

### Ejercicio 6
Pide una nota y muestra si está en rango 0..10.

In [ ]:
nota = float(input('Nota: '))
print(0 <= nota <= 10)

### Ejercicio 7
Crea `tiene_carnet` y `tiene_coche` y `puede_conducir` con and.

In [ ]:
tiene_carnet = True
tiene_coche = False
puede_conducir = tiene_carnet and tiene_coche
print(puede_conducir)

### Ejercicio 8
Crea `es_fin_de_semana` y muestra `not es_fin_de_semana`.

In [ ]:
es_fin_de_semana = False
print(not es_fin_de_semana)

### Ejercicio 9
Pide un número y muestra si es par y >10.

In [ ]:
n = int(input('n: '))
print((n % 2 == 0) and (n > 10))

### Ejercicio 10
Pide edad y muestra si NO es menor de edad (not).

In [ ]:
edad = int(input('Edad: '))
print(not (edad < 18))

### Reto
Reto: pide edad y autorización (sí/no). Puede si edad>=16 o (edad>=14 y autorización=True).

In [ ]:
edad = int(input('Edad: '))
aut = input('Autorización (s/n): ').strip().lower() in ('s','si','sí')
puede = (edad >= 16) or ((edad >= 14) and aut)
print(puede)