# Variables y tipos

## Objetivos
- Crear variables
- Tipos básicos
- type() y conversiones

## Cómo trabajar
- Ejecuta de arriba abajo.
- Lee los ejemplos y prueba a modificarlos.
- Haz los 10 ejercicios.
- Haz el reto si te queda tiempo.

In [ ]:
# Bloque base (no borres esta celda)
from __future__ import annotations
import math
import random

## Ejemplos previos

### Ejemplo: tipos básicos

In [ ]:
edad=15
altura=1.68
nombre='Lorenzo'
activo=True
print(type(edad), type(altura), type(nombre), type(activo))

## Actividades (10 ejercicios)
1. Crea `curso` (str) y `año` (int) e imprímelos juntos.
2. Crea `pi_aprox` (float) = 3.14 e imprime type().
3. Convierte '100' a int y súmale 23.
4. Convierte '2.5' a float y multiplícalo por 4.
5. Crea booleanos `llueve` y `llevo_paraguas` (llevo_paraguas True solo si llueve).
6. Pide un número por input y guárdalo en `n` (int). Imprime n y type(n).
7. Crea `a=5`, `b=9` e intercambia a↔b.
8. Crea `mensaje` con f-string que incluya nombre y edad.
9. Crea `precio=19.99` y muestra redondeado a 1 decimal con round().
10. Pide edad y crea `es_mayor_edad` (>=18). Imprime el booleano.

### Ejercicio 1
Crea `curso` (str) y `año` (int) e imprímelos juntos.

In [ ]:
# Ejercicio 1
# TODO

### Ejercicio 2
Crea `pi_aprox` (float) = 3.14 e imprime type().

In [ ]:
# Ejercicio 2
# TODO

### Ejercicio 3
Convierte '100' a int y súmale 23.

In [ ]:
# Ejercicio 3
# TODO

### Ejercicio 4
Convierte '2.5' a float y multiplícalo por 4.

In [ ]:
# Ejercicio 4
# TODO

### Ejercicio 5
Crea booleanos `llueve` y `llevo_paraguas` (llevo_paraguas True solo si llueve).

In [ ]:
# Ejercicio 5
# TODO

### Ejercicio 6
Pide un número por input y guárdalo en `n` (int). Imprime n y type(n).

In [ ]:
# Ejercicio 6
# TODO

### Ejercicio 7
Crea `a=5`, `b=9` e intercambia a↔b.

In [ ]:
# Ejercicio 7
# TODO

### Ejercicio 8
Crea `mensaje` con f-string que incluya nombre y edad.

In [ ]:
# Ejercicio 8
# TODO

### Ejercicio 9
Crea `precio=19.99` y muestra redondeado a 1 decimal con round().

In [ ]:
# Ejercicio 9
# TODO

### Ejercicio 10
Pide edad y crea `es_mayor_edad` (>=18). Imprime el booleano.

In [ ]:
# Ejercicio 10
# TODO

## Reto
Reto: pide nombre, número favorito (int) y ciudad; muestra 4 líneas y una operación con el número.

In [ ]:
# Reto
# TODO