# print(), input() y conversiones

## Objetivos
- Usar print()
- Leer datos con input()
- Convertir str→int/float y validar

## Cómo trabajar
- Ejecuta de arriba abajo.
- Lee los ejemplos y prueba a modificarlos.
- Haz los 10 ejercicios.
- Haz el reto si te queda tiempo.

In [ ]:
# Bloque base (no borres esta celda)
from __future__ import annotations
import math
import random

## Ejemplos previos

### Ejemplo 1: input devuelve str

In [ ]:
x = input('Escribe algo: ')
print('Tipo:', type(x))

### Ejemplo 2: convertir a int

In [ ]:
n = int(input('Número entero: '))
print('Doble:', n*2)

## Actividades (10 ejercicios)
1. Pide un nombre por input() y saluda con print().
2. Pide dos números enteros y muestra su suma.
3. Pide un número entero y muestra su triple.
4. Pide una edad y muestra cuántos años tendrás dentro de 5 años.
5. Pide un precio (decimal) y muestra el precio con IVA (21%).
6. Pide una temperatura en °C (float) y conviértela a °F.
7. Pide dos números y muestra cuál es mayor (imprime un booleano a>b).
8. Pide una palabra y muestra su longitud con len().
9. Pide un número y muestra si es par (True/False) usando %.
10. Pide un número y muestra su cuadrado.

### Ejercicio 1
Pide un nombre por input() y saluda con print().

In [ ]:
# Ejercicio 1
# TODO

### Ejercicio 2
Pide dos números enteros y muestra su suma.

In [ ]:
# Ejercicio 2
# TODO

### Ejercicio 3
Pide un número entero y muestra su triple.

In [ ]:
# Ejercicio 3
# TODO

### Ejercicio 4
Pide una edad y muestra cuántos años tendrás dentro de 5 años.

In [ ]:
# Ejercicio 4
# TODO

### Ejercicio 5
Pide un precio (decimal) y muestra el precio con IVA (21%).

In [ ]:
# Ejercicio 5
# TODO

### Ejercicio 6
Pide una temperatura en °C (float) y conviértela a °F.

In [ ]:
# Ejercicio 6
# TODO

### Ejercicio 7
Pide dos números y muestra cuál es mayor (imprime un booleano a>b).

In [ ]:
# Ejercicio 7
# TODO

### Ejercicio 8
Pide una palabra y muestra su longitud con len().

In [ ]:
# Ejercicio 8
# TODO

### Ejercicio 9
Pide un número y muestra si es par (True/False) usando %.

In [ ]:
# Ejercicio 9
# TODO

### Ejercicio 10
Pide un número y muestra su cuadrado.

In [ ]:
# Ejercicio 10
# TODO

## Reto
Reto: pide nombre, edad y altura (m). Imprime resumen y calcula IMC suponiendo peso fijo 60 kg.

In [ ]:
# Reto
# TODO